[Unit]
Description=upsgi PSGI application socket
PartOf=upsgi.service

[Socket]
ListenStream=127.0.0.1:9090
NoDelay=true
ReusePort=true
Backlog=256

[Install]
WantedBy=sockets.target
