*.o
*.py[co]
*.class
*.jar
*~
*.so
*.gox
*.a
*.dll
*.key
*.orig
*.rej

/upsgi
/upsgi
/bin/upsgi
/upsgibuild.*
/core/config_py.c
/core/dot_h.c

/t/ring/target
/t/spooler/spooldir/upsgi_*

/cov-int/
/upsgi.tar.xz
/build/
/dist/
/upsgi.egg-info/
check/check_*
!check/*.c
/.local-lib/

/tests/fork/artifacts/
