*.o
*.py[co]
*.class
*.jar
*~
*.so
*.gox
*.a
*.dll
*.key
*.orig
*.rej

/upsgi
/uwsgi
/bin/uwsgi
/uwsgibuild.*
/core/config_py.c
/core/dot_h.c

/t/ring/target
/t/spooler/spooldir/uwsgi_*

/cov-int/
/uwsgi.tar.xz
/build/
/dist/
/uWSGI.egg-info/
check/check_*
!check/*.c
/.local-lib/

/tests/fork/artifacts/
